*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
nav{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 0 5px #111;
}
.logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: orange;
}